/*头部*/
*{
	margin: 0;
	padding: 0;
}
       .clear:after{  
            content:"";  
            height:0px;  
            visibility:hidden;  
            display:block;  
            clear:both;  
        }  
              
        * html .clearfix{  
            zoom:1;  
        }
 a:visited, a:link, a:active {
   text-decoration: none;
   color: white;
}        
html,body{
	min-width: 1200px;
	background: #fcfcfc;
}
.head{
	height: 150px;
	background: url(../../img/index/hb-head-bg.png) no-repeat;
	background-size: 100% 100%;
}
/*banner*/

/*内容*/
.content{
	min-height: 700px;
	width: 1200px;
	margin: auto;
	background: #fcfcfc;
}
/*尾部*/
.bottom{
	padding: 30px 0;
	height: 75px;
	background: #135688;
	color: white;
	text-align: center;
	line-height: 40px;
}

